@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, rgb(44, 44, 44), rgb(20, 20, 20));
}
.logo {
  width: 80px;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin-right: 30px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
}

body {
  background-color: rgb(20, 20, 20);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "lato";
  gap: 70px;
}
#hero {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  gap: 300px;
}
.hero-img img {
  width: 200px;
  border-radius: 50px;
  border: solid 5px rgb(76, 76, 77);
}
.hero-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero-buttons {
  display: flex;
  gap: 10px;
}
.hero-info h1 {
  font-size: 2.5rem;
}
.call {
  background-color: rgb(76, 76, 77);
  text-decoration: none;
  color: white;
  padding: 10px 10px;
  border-radius: 15px;
  border: solid 2px rgb(76, 76, 77);
}
.learn {
  text-decoration: none;
  color: white;
  padding: 10px 10px;
  border-radius: 15px;
  border: solid 2px rgb(154, 154, 155);
}
.text-info {
  max-width: 1200px;
  text-align: center;
  padding: 70px 0 70px 0;
}
#container-me {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.tittle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.card-container {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 1000px;
}
.card-container img {
  width: 40px;
}
.time-work,
.idea-work,
.supp-work {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#contact-me {
  max-width: 1200px;
  display: flex;
  justify-content: center;

  gap: 200px;
  justify-content: center;
}

.text-info-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.redes-me {
  display: flex;
  gap: 18px;
  width: 30px;
  margin-top: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "lato";
}
footer img {
  width: 150px;
}

.call:hover {
  background-color: rgb(20, 20, 20);
  transition: 1.5s;
}
.learn:hover {
  background-color: rgb(76, 76, 77);
  transition: 1.5s;
}

#menu-t,
.menu-label {
  display: none;
}

@media (max-width: 992px) {
  header nav {
    gap: 30px;
  }
  header ul {
    position: absolute;
    top: 70px;
    left: 5%;
    right: 5%;
    padding: 25px 0;
    flex-direction: column;
    width: 90%;
    gap: 30px;
    background-color: rgb(20, 20, 20);
    border: solid 3px rgb(76, 76, 77);
    border-top: 0;
    border-radius: 0 0 15px 15px;
    display: none;
  }
  header ul a {
    color: rgb(110, 107, 107);
    font-weight: 800;
  }
  .menu-label {
    display: flex;
    order: 2;
  }
  .menu-edit {
    width: 25px;
    height: 20px;
  }

  #menu-t:checked + .list {
    display: flex;
  }

  .hero-img {
    display: none;
  }
  #hero {
    margin: 0 auto;
  }
  .hero-info {
    justify-content: center;
    align-items: center;
  }

  .text-info {
    width: 700px;
  }
  .card-container {
    flex-wrap: wrap;
    max-width: 500px;
  }
  .card-container img {
    width: 50px;
  }

  iframe {
    width: 60%;
  }
}
@media (max-width: 700px) {
  .hero-info {
    margin-top: 70px;
    justify-content: center;
    align-items: center;
  }
  .hero-info h1 {
    font-size: 3.5rem;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .learn {
    width: 85%;
  }
  .text-info {
    width: 500px;
    margin-bottom: 70px;
  }
  .tittle-container p {
    text-align: center;
    width: 500px;
  }
  .tittle-container h2 {
    font-size: 32px;
  }
  #contact-me {
    flex-wrap: wrap;
    gap: 90px;
  }
}
@media (max-width: 500px) {
  .hero-info h1 {
    font-size: 2.7rem;
  }
  .hero-info h2 {
    font-size: 1.2rem;
  }
  .hero-buttons {
    width: 40%;
    font-size: 0.8rem;
    text-align: center;
  }
  .hero-info {
    gap: 50px;
  }
  .text-info {
    width: 400px;
  }
  #container-me p {
    width: 300px;
  }
}
